include header.pug

div(class='row')
 div(class='col-md-4')
 div(class='col-md-4')
  h2 About
 div(class='col-md-4')

div(class='row')
 div(class='col-md-4')
 div(class='col-md-4') 
  p This website will allow kids to take subject quizzes and view and potentially grow a live garden.
 div(class='col-md-4')

